<!DOCTYPE html>
<html>
  <head>
    <title>Sleeping...</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :app %>
    <script src="https://aura.lightward.io/dist/aura.js" defer></script>
    <%= javascript_importmap_tags %>

    <style>
      body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: var(--background);
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
